<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>    
      <setting name="Uniform.Deploy.PrefetchData.Enabled" set:value="true" />
      
      <!-- this is required to be able to serve media from Sitecore -->
      <setting name="Media.AlwaysIncludeServerUrl" set:value="true" />
      <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
      <setting name="Media.LowercaseUrls" value="true" />
    </settings>
    
    <sites>
      <!-- 
        a custom site is required because the original habitat solution is often used with 
        original App_Config/Environment/Project/Habitat.Dev.config that switches db to master 
        which breaks deployment logic of latest version of Uniform
      -->
      <site patch:after="site[@name='website']"
            name="uniform-habitat"
            inherits="habitat"
            patch:after=""

            database="web"

            publishEndpoint="http://localhost:3000"
            previewEndpoint="http://localhost:3000" />
    </sites>

	  <linkManager>
      <providers>
        <!-- uniform does not support more than 1 language per site yet (multiple languages are supported via using separate domains and therefore separate sites) -->
        <add set:languageEmbedding="never" />
        <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
        <add set:lowercaseUrls="true" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
