<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- this is required to be able to serve media from Sitecore -->
      <setting name="Media.AlwaysIncludeServerUrl" set:value="true" />
      <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
      <setting name="Media.LowercaseUrls" value="true" />
    </settings>
    <sites>
      <site name="habitat"
            set:publishEndpoint="http://localhost:3000"
            set:previewEndpoint="http://localhost:3000" />
    </sites>
	<linkManager>
      <providers>
        <!-- uniform does not support more than 1 language per site yet (multiple languages are supported via using separate domains and therefore separate sites) -->
        <add set:languageEmbedding="never" />
        <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
        <add set:lowercaseUrls="true" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
