<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <!-- this site definition is for Sitecore to render and show Experience Editor -->
      <site name="uniform-mvc-kit" rootPath="/sitecore/content/uniform-mvc-kit" inherits="website" patch:before="site[@name='website']" />
    </sites>
    <uniform>
      <siteConfigurations>
        <siteConfiguration name="uniform-mvc-kit">
          <site set:inherits="uniform-mvc-kit" />
        </siteConfiguration>
      </siteConfigurations>
    </uniform>
  </sitecore>
</configuration>