<configuration
  xmlns:env="http://www.sitecore.net/xmlconfig/env/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <settings>
      <!-- for the sake of simplicity, by default when the pages are previewed via Uniform Service or deployed to a CDN, 
          the media needs to be loaded directly from Sitecore (this is mainly for demoing `next export && serve out`)
      -->
      <setting name="Media.AlwaysIncludeServerUrl" set:value="true" />
      <!-- Change this if you want to override the host media is served from -->
      <!-- <setting name="Media.MediaLinkServerUrl" set:value="https://assets.yoursite.com" /> -->
    </settings>
  </sitecore>
</configuration>
