@uniformdev:registry=https://pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/registry/
always-auth=true
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/registry/:_authToken=${NPM_TOKEN}
