@uniformdev:registry=https://pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/registry/
always-auth=true
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/registry/:username=altola
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/registry/:_password=${BASE64_AZURE_DEVOPS_PAT}
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/registry/:email=npm requires email to be set but does not use the value
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/:username=altola
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/:_password=${BASE64_AZURE_DEVOPS_PAT}
//pkgs.dev.azure.com/altola/uniform/_packaging/develop/npm/:email=npm requires email to be set but does not use the value
